[Unit]
Description=daphne server $PROJECT_NAME
After=network.target

[Service]
User=$USER_NAME
Group=$USER_NAME
WorkingDirectory=/home/$USER_NAME/$PROJECT_NAME
Environment=DJANGO_SECRET_KEY=$DJANGO_SECRET
Environment=DJANGO_ALLOWED_HOSTS=$SERVER_NAME
ExecStart=pipenv run daphne -b 0.0.0.0 -p 8000 $PROJECT_NAME.asgi:application
Restart=always

[Install]
WantedBy=multi-user.target
